.circle {
	border-radius: 50%;
}

a:hover {
	color: black;
	text-decoration: none;
}

.btn.otherbtn {
	color: #18bc9c;
 }

.btn.otherbtn:hover {
	color: black;
 }

 .footer {
	 bottom: 0;
	 margin-bottom: -52px;
	 margin-left: -8px;
	 width: 101%;
	 position: relative;
}

ul {
	color:#74808a;
	font-size:0.9em;
}

.logo {
	margin-top: 10px;
}

.logo img {
	width: 35px;
	height: 35px;
}

.logo:hover img {
  -webkit-filter: invert(1); /* Safari 6.0 - 9.0 */
  filter: invert(1);
  transition-delay:0.2s;
}

#arrowdown .down {
	bottom: -20px;
	position: fixed;
}
